.details-container {
  margin-top: 25px;
  margin-right: 40px;
}

.about-me-container {
  padding-right: 20px;
}

.creator-pic {
  width: 130px;
  margin-top: 6px;
  margin-bottom: 10px;
  border: 2px solid #b2bec3;
  border-radius: 3px; 
}

.creator-info-container {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #b2bec3;
}

.creator-details-container {
  min-width: 1400px;
  padding-bottom: 40px;
  padding-top: 25px;
  padding-left: 65px;
  padding-right: 65px;
  color: #2d3436;
}

.trip-users-container {
  background-color: white;
  padding: 40px 65px 40px 65px;  
}

.member-pic {
  border-radius: 50%;
  margin-left: 20%;
  margin-top: 15px;
  border: 2px solid #e84393;
  height: 150px;
}

.ineresters-container {
  margin-top: 40px;
}

.done-icon-wrap {
  position: absolute;
  right: 43%;
  bottom: 12px;
}

.description-area {
  min-height: 390px;
}