body {
  /* font-family: 'Quicksand', sans-serif; */
  color: white;
}

/* .landing {
  background: linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.432)), url('./main.jpg'); 
  background-size: cover;
  height: 100vh;
} */

/* .landing {
  background: linear-gradient(#636e7200, #636e7296), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
} */


/* .landing {
  background: linear-gradient(#e8439350, #e84393ce), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
} */

/* .landing {
  background: linear-gradient(#e8439313, #e84393c7), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
} */

.landing {
  background: linear-gradient(#e84393c7, #e8439313), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
}

/* .landing {
  background: linear-gradient(#e84393b2, #e84393b2), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
} */

/* .landing {
  background: linear-gradient(to left, #e8439300, #e84393b7), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
} */

/* .landing {
  background: linear-gradient(#e84393b2, #e843938e), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
} */














/* body {
  font-family: 'Quicksand', sans-serif;
  background-image: url('../src/Components/LandingPage/bkgrd.jpg');
  height: 100vh;
} */

/* .loginimg {
  background: url('./img/girloutlook.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
} */

/* .signupimg {
  background: url('./img/redsky.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
} */

/* .logsig {
  font-size: 45px;
  margin-top: 40px;
  font-weight: bold;
} */
/* 
.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.486)), url('./main.jpg') no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
} */


/* .title {
  font-size: 90px;
  margin-top: 190px;
  color: white;
}

.desc {
  font-size: 30px;
  margin-top: 80px;
  color: white;
}

.signbtt{
  margin-top: 14px;
  margin-bottom: -16px;
}

input {
  margin: 20px;
}

.formplan {
  text-align: center;
} */