body {
  font-family: 'Quicksand', sans-serif;

}

.loginimg {
  background: url('./img/girloutlook.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}

.signupimg {
  background: url('./img/redsky.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}

.logsig {
  font-size: 45px;
  margin-top: 40px;
  font-weight: bold;
}

.landimg {
  background: url('./img/travelgrp.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
}


.title {
  font-size: 90px;
  margin-top: 190px;
  color: white;
}

.desc {
  font-size: 30px;
  margin-top: 80px;
  color: white;
}

.signbtt{
  margin-top: 14px;
  margin-bottom: -16px;
}

input {
  margin: 20px;
}

.formplan {
  text-align: center;
}

/* .box {
  boarder: 1px solid color
  border-radius: 2px
} */

.masthead {
  padding-top: 25px;
  padding-bottom: 65px;
  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
  background: -webkit-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  background: linear-gradient(135deg, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

.trippic {
  padding: 50px;
  height: 100%;
}

.UserBoxPic {
  height: 50px;
}

.triptit {
  font-size: 100px; 
  padding-top: 50px;
}

.tripsub {
  font-size: 50px;
}