header {
  width: 100%;
  color: white;
  padding-top: 50px;
  padding-right: 40px;
  background-color: white;
  border-bottom: 1px solid #b2bec3;
}

.user-box {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.buttons-container {
  float: right;
}

.test {
  display: inline;
  color: black;
}

.UserBoxPic {
  width: 46px;
  border-radius: 50%;
  border: 2px solid #00cec9;
}