.search-container {
  padding: 20px 0 50px 0;
  text-align: center;
  color: #636e72;
}

.continent-country-container {
  position: relative;
  height: 50px;
  margin-bottom: 5px;
}

.center-right-form {
  margin-top: 30px;
  margin-left: 43%;
  margin-right: 43%;
  text-align: left;
  margin-bottom: 30px;
}

.check-box {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}
