.search-container {
  padding: 20px 0 50px 0;
  text-align: center;
  color: #636e72;
}

.continent-country-container {
  margin: 0px auto 5px auto;
  width: 400px;
  position: relative;
  height: 50px;
}

.center-right-form {
  width: 203px;
  margin: 30px auto 30px auto;
  text-align: left;
}

.check-box {
  width: 230px;
  margin: 0px auto 50px auto;
  display: flex;
  justify-content: center;
}
