.convo-list-container {
  min-width: 270px;
  height: 50px;
  position: relative;
}

.convo-container {
  overflow: auto;
  height: 100%;
  position: relative;
}

.message-pic {
  position: absolute;
  width: 33px;
  border-radius: 50%;
  border: 1px solid #00cec9;
  top: 17%;
}

.msg-subs {
  position: absolute;
  top: 30%;
  left: 15%;
}