.detail-list-container {
  margin-top: 15px;
  height: 40px;
}

.left-grid {
  display: inline-block;
  width: 65%
}

.right-grid {
  text-align: right;
  display: inline-block;
  width: 35%
}

.counter-warper {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.condition-button {
  display: inline-block;
  margin-right: 7%;
  margin-right: 10px;
  margin-top: 20px;
}

.second-button {
  display: inline-block;
  margin-top: 20px;
}

.for-sure-subs {
  margin-right: 4%;
  margin-top: 22px;
}